body {
  background: url("../img/fondo.png") no-repeat;
  margin: 0;
  width: 1024px;
  height: 768px;
}
header {
  background: url("../img/frameSup	.png") no-repeat;
  width: 1024px;
  height: 182px;
  top: 0;
}
section,
footer {
  position: relative;
}
#logoOms {
  position: absolute;
  top: 0;
  left: 30px;
}
#parrafo1 {
  position: absolute;
  background: url("../img/fondoRayas.png") no-repeat;
  background-size: 100% 100%;
  width: 691px;
  height: 90px;
  top: -5px;
  left: 173px;
}
#parrafo1 p {
  position: relative;
  font-family: Univers-LT-65-Bold, Arial;
  font-size: 17px;
  text-align: center;
  color: #47479a;
  left: 14px;
  top: 19px;
  width: 675px;
}
#parrafo1 p sup {
  font-size: 9px;
}
#parrafo2 p {
  position: relative;
  font-family: Univers LT Std, Arial;
  font-size: 14px;
  text-align: center;
  color: #ff1493;
  left: 197px;
  top: 86px;
  width: 650px;
}
#parrafo2 p sup {
  font-size: 9px;
}
#parrafo3 p {
  position: relative;
  font-family: UUniversLT-Std-47-Light-Condensed-Oblique, Arial;
  font-size: 11px;
  text-align: center;
  color: #ff1493;
  left: 189px;
  top: 74px;
  width: 650px;
}
#parrafo3 p sup {
  font-size: 9px;
}
#grafica1 {
  position: absolute;
  width: 577px;
  height: 163px;
  background: url("../img/grafica2.png") no-repeat;
  top: 180px;
  left: 225px;
}
#numeros1 {
  position: absolute;
  top: 4px;
  left: -41px;
}
#numeros1 ul li {
  list-style-type: none;
  position: absolute;
}
#numeros1 ul li span {
  font-family: Univers_lt_std_57_condensed;
  color: #131366;
  font-size: 12.5px;
  text-align: right;
}
#numeros1 ul li:nth-child(1) {
  top: -12px;
  left: 28px;
}
#numeros1 ul li:nth-child(2) {
  top: 8px;
  left: 28px;
}
#numeros1 ul li:nth-child(3) {
  top: 27px;
  left: 28px;
}
#numeros1 ul li:nth-child(4) {
  top: 46px;
  left: 28px;
}
#numeros1 ul li:nth-child(5) {
  top: 66px;
  left: 28px;
}
#numeros1 ul li:nth-child(6) {
  top: 85px;
  left: 28px;
}
#numeros1 ul li:nth-child(7) {
  top: 105px;
  left: 28px;
}
#numeros1 ul li:nth-child(8) {
  top: 124px;
  left: 34px;
}
#numeros1 ul li:nth-child(9) {
  top: 142px;
  left: 34px;
}
#numeros2 {
  position: absolute;
  top: 176px;
  left: -41px;
}
#numeros2 ul li {
  list-style-type: none;
  position: absolute;
}
#numeros2 ul li span {
  font-family: Univers_lt_std_57_condensed;
  color: #131366;
  font-size: 12.5px;
  text-align: right;
}
#numeros2 ul li:nth-child(1) {
  top: -17px;
  left: 61px;
}
#numeros2 ul li:nth-child(2) {
  top: -17px;
  left: 136px;
}
#numeros2 ul li:nth-child(3) {
  top: -17px;
  left: 206px;
}
#numeros2 ul li:nth-child(4) {
  top: -17px;
  left: 281px;
}
#numeros2 ul li:nth-child(5) {
  top: -17px;
  left: 352px;
}
#numeros2 ul li:nth-child(6) {
  top: -17px;
  left: 427px;
}
#numeros2 ul li:nth-child(7) {
  top: -17px;
  left: 503px;
}
#numeros2 ul li:nth-child(8) {
  top: -17px;
  left: 582px;
}
#numeros3 {
  position: absolute;
  top: 9px;
  right: -66px;
}
#numeros3 ul li {
  list-style-type: none;
  position: absolute;
}
#numeros3 ul li span {
  font-family: Univers_lt_std_57_condensed;
  color: #131366;
  font-size: 12.5px;
  text-align: right;
}
#numeros3 ul li:nth-child(1) {
  top: -19px;
  right: 58px;
}
#numeros3 ul li:nth-child(2) {
  top: 3px;
  right: 58px;
}
#numeros3 ul li:nth-child(3) {
  top: 25px;
  right: 58px;
}
#numeros3 ul li:nth-child(4) {
  top: 47px;
  right: 58px;
}
#numeros3 ul li:nth-child(5) {
  top: 71px;
  right: 58px;
}
#numeros3 ul li:nth-child(6) {
  top: 93px;
  right: 58px;
}
#numeros3 ul li:nth-child(7) {
  top: 115px;
  right: 58px;
}
#numeros3 ul li:nth-child(8) {
  top: 136px;
  right: 58px;
}
#dato1 {
  position: absolute;
  font-family: Univers_lt_std_57_condensed, Arial;
  font-size: 9px;
  color: #131366;
  top: 102px;
  right: 488px;
}
#dato2 {
  position: absolute;
  font-family: Univers_lt_std_57_condensed, Arial;
  font-size: 9px;
  color: #131366;
  top: 114px;
  right: 483px;
}
#dato3 {
  position: absolute;
  font-family: Univers_lt_std_57_condensed, Arial;
  font-size: 11px;
  color: #131366;
  top: 187px;
  right: 265px;
}
#dato4 {
  position: absolute;
  font-family: Univers_lt_std_65_bold, Arial;
  font-size: 11px;
  color: #515174;
  top: 105px;
  right: 253px;
}
#dato5 {
  position: absolute;
  font-family: Univers_lt_std_57_condensed, Arial;
  font-size: 11px;
  color: #515174;
  top: 54px;
  right: 147px;
}
#dato6 {
  position: absolute;
  font-family: Univers-LT-67-Condensed-Bold, Arial;
  font-size: 13px;
  text-align: center;
  color: #0e0e61;
  width: 228px;
  top: 66px;
  left: -151px;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
#dato7 {
  position: absolute;
  font-family: Univers-LT-67-Condensed-Bold, Arial;
  font-size: 13px;
  text-align: center;
  color: #0e0e61;
  width: 251px;
  top: 76px;
  right: -157px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
#lineaConclusion {
  position: absolute;
  background: url("../img/lineaConclusion.png") no-repeat;
  height: 37px;
  width: 519px;
  padding: 10px 0px 0px 20px;
  top: 225px;
  right: -68px;
}
#lineaConclusion span {
  font-family: Univers-LT-45-Light, Arial;
  font-size: 8px;
  color: #131366;
}
#lineaConclusion span sup {
  font-size: 6px;
}
#parrafo4 {
  position: absolute;
  background: url("../img/cuadro1.png") no-repeat;
  background-size: 100% 100%;
  height: 50px;
  width: 883px;
  padding: 10px 0px 0px 20px;
  top: 305px;
  right: -157px;
}
#parrafo4 span {
  font-family: Univers-LT-45-Light, Arial;
  font-size: 14px;
  text-align: center;
  color: #31317b;
  width: 100px;
}
#logoPfizer {
  position: absolute;
  top: 515px;
  left: 65px;
}
#infSeguridad {
  position: absolute;
  top: 515px;
  left: 205px;
}
#minificha {
  position: absolute;
  top: 515px;
  left: 440px;
}
#referencias {
  position: absolute;
  top: 515px;
  left: 570px;
}
#logoPrevenar {
  position: absolute;
  top: 515px;
  right: 85px;
}
@font-face {
  font-family: UniversLTStd-Bold;
  src: url("../fonts/UniversLTStd-Bold.otf") format('opentype');
  font-family: UniversLTStd-BoldCnObl;
  src: url("../fonts/UniversLTStd-BoldCnObl.otf") format('opentype');
  font-family: Univers-LT-45-Light;
  src: url("../fonts/Univers-LT-45-Light.ttf") format('truetype’);');
  font-family: Univers-LT-Std-45-Light;
  src: url("../fonts/Univers-LT-Std-45-Light.ttf");
  font-family: Univers-LT-47-Condensed-Light;
  src: url("../fonts/Univers-LT-47-Condensed-Light.ttf");
  font-family: UniversLT-Std-47-Light-Condensed-Oblique;
  src: url("../fonts/UniversLT-Std-47-Light-Condensed-Oblique.ttf");
  font-family: Univers_lt_std_65_bold;
  src: url("../fonts/Univers_lt_std_65_bold.otf");
  font-family: Univers-LT-67-Condensed-Bold;
  src: url("../fonts/Univers-LT-67-Condensed-Bold.otf");
  font-family: Univers_lt_std_57_condensed;
  src: url("../fonts/univers_lt_std_57_condensed.otf");
}
.fuenteLetra1 {
  position: absolute;
  font-family: UniversLTStd-Bold, Arial;
  top: 0px;
  left: 70px;
  font-size: 30px;
  color: #ff1493;
}
.fuenteLetra2 {
  position: absolute;
  font-family: UniversLTStd-Bold, Arial;
  top: 40px;
  left: 70px;
  font-size: 20px;
  width: 540px;
  color: #fff;
}
.fuenteLetra3 {
  position: absolute;
  font-family: UniversLTStd-Bold, Arial;
  top: 110px;
  left: 70px;
  font-size: 16px;
  font-weight: bold;
  width: 900px;
  color: #fff;
}
.fuenteLetra3 sup {
  font-size: 11px;
}
.fuenteLetra4 {
  font-family: UniversLTStd-BoldCnObl, Arial;
  font-size: 12px;
  color: #131366;
}
.fuenteLetra5 {
  position: absolute;
  font-family: Univers-LT-45-Light, Arial;
  top: 566px;
  left: 80px;
  font-size: 7px;
  color: #131366;
}
